.product_card{
  width: 100%;
  max-width: 35rem;
  background-color: var(--white-color);
  display: flex;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
}

.image {
  width: 15rem;
  height: 10rem;
}

.infos {
  padding: 2rem;
  border-top: .1rem solid #ddd;
}

.price {
  font-size: 3rem;
  font-weight: 400;
  display: block;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  font-weight: 500;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin: 1.2rem 1.5rem;
  color: red;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2.5rem;
  cursor: pointer;
}

.product_card:hover {
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.1);
}

.product_card:hover .button {
  display: flex;
}