.user {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: var(--dark-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: relative;
}

.icon {
  position: absolute;
  top: 5rem;
  left: 3rem;
  color: var(--dark-white-color);
  font-size: 5rem;
}