.register {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  background-color: var(--dark-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

.link {
  text-align: right;
  text-decoration: none;
  color: var(--dark-white-color);
  font-size: 1.5rem;
}

@media screen and (min-width: 760px) {
  .register {
    padding: 0 15rem;
  }
}

@media screen and (min-width: 1030px) {
  .register {
    padding: 0;
  }
}