.search {
  width: auto;
  height: auto;
  position: relative;
}

.input {
  width: 100%;
  max-width: 100rem;
  padding: 1.3rem;
  padding-right: 3rem;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.button {
  background: none;
  border: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color-1);
  background: transparent;
  position: absolute;
  right: 1rem;
  top: 30%;
}

@media screen and (min-width: 760px) {
  .input {
    width: 35rem;
  }
}
