.submit_button {
  width: 100%;
  height: 5rem;
  border: none;
  background-color: var(--white-color);
  color: var(--dark-color-1);
  font-size: 2rem;
  font-weight: 700;
  border-radius: .8rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}